body {
    font-family: Arial, sans-serif;
    background: #f3f0ed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
    height: 100vh;
    margin: 0;
}

.container {
    width: 350px;
    background: white;
    padding: 35px 30px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    text-align: center;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;
}

.icon {
    width: 55px;
}

h1 {
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 25px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 12px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    height: 35px;
    padding-left: 10px;
    border: 1px solid #aaa;
    border-radius: 8px;
}

.btn-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 18px;
}

button {
    width: 120px;
    padding: 10px;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.recall {
    background: #d9534f;
}

.history {
    background: #005c66;
}

.in, .out {
    background: #cfcfcf;
    color: black;
}

.photo, .save {
    background: #cfcfcf;
    color: black;
}

.back {
    display: block;
    margin-top: 15px;
    text-decoration: underline;
    color: #5a2aa8;
}
.setting-icon-img {
    width: 32px;
    height: auto;
    cursor: pointer;
    display: block;
}
.settings-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;   
}

.setting-icon-img {
    width: 32px; 
    height: 32px;
    object-fit: contain; 
    display: block;
}

